* {
  box-sizing: border-box;
}
body {
  background-color: gray;
  margin:0;
  padding:0;
  overflow-y:hidden;
}
text-box{
  background:white;
  padding:0px;
  box-sizing:border-box;
  float:left; 
}
.container{
  width:100vw;
  height:100vh;
  background-color: beige;
  display:grid;
  grid-template-columns:20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw;
  grid-template-rows:100vh;
  pointer-events: none;
}  
.item1{
  
}
.item2{
 
}
.item3{
 
}
.item4{
  
}
.item5{
   
}
.item6{
  
}
.item7{
  
}
.item8{
  
}
.item9{
   
}
.item10{
   
}
